schema.rb
tmp/*
tmp/**/*
log/*.log*
log/*.pid*
*.log
.DS_Store
.idea
.idea/*
public/media
*.tmproj
build_taste_space
media_item_views
media_view
db/sphinx/**/*
banner_hit
config/development.sphinx.conf
.project
.tmp_*
banners
ffmpeg
ffmpeg_batch
marketplace_channel_score
media_item_rating
media_item_view
onlinersuserrb
ticketmaster_error
ticketmaster
curr_loc
travis_rollup
critical_background_task
normal_background_task
/.loadpath
/generate
/geocode_venue
/geocode_venue_error
/q_event_sync_to_external
/config/locales/pl/
vendor/assets/tiny_mce/
/postman
/entry_audible_magic
/entry_audible_magic_error
/admin_audible_magic
.bundle
.sass-cache/
/private/wwm_data_files/*
vendor/bundle/
.powenv
/coverage